
.title-container .title {
    display: inline-block;
    font-size: 2rem;
    font-weight: normal;
    border-radius: 4px;
    background-color: rgb(243, 236, 231);
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    color: #120f0f;
    font-size: xlarge;
  }
  .title-container .subtitle {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: normal;
    border-radius: 4px;
    background-color: rgb(246, 246, 251);
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
  }
  